<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update post</title>
</head>
<body>
    <h2>Update post here</h2>
   
        <p>id :<%=post.id%> </p>
        <div>
            <h3>name :<%=post.name%> </h3>
            <textarea name="newcont" placeholder="posts.content"><%=post.content%></textarea>
            <button>Submit new Post</button>
        </div>
  
</body>
</html>