<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post creation</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="Enter your name" name="username"><br><br>
        <textarea type="text" placeholder="Pleaseenter text here..." name="textContent"></textarea><br><br>
        <button>Submit</button>
    </form>
    
</body>
</html>