<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post by id</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Here is the post using id "<%=post.id%>"</h1>
    
    <div class="content">
        <h2 class="user" id="user">Name : @<%=post.name%></h2>
        <h4 class="text">Content : <%=post.content%></h4>
    </div>
</body>
</html>