<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit username</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Form to edit -- <%=user.email%> </h1>
    <form method="post" action="/user/<%=user.id%>?_method=PATCH">
        <p>Username:</p><input type="text" name="username" placeholder="<%=user.username%>">
        <p>Pasword:</p><input type="password" name="password" placeholder="Enter password here">
        <br><br>
        <button>Update</button> 
     </form>
</body>
</html>